db/*.sqlite3
log/*.log
tmp/
TAGS
tags
db/schema.rb
*.csv
config/ldap.yml
config/app_config.yml
*.sql
olds/*
/*.yml
*.org
/*.rb
/foo*
/bar*
*.bak
coverage
/doc/*
.hg
.hgtags
*.orig
.bundle
vendor/bundle
