<p>
  <b>Item:</b>
  <%=h @divisions_item.item_id %>
</p>

<p>
  <b>Division:</b>
  <%=h @divisions_item.division_id %>
</p>


<%= link_to t('link.edit'), edit_divisions_item_path(@divisions_item) %> |
<%= link_to I18n.t('link.back'), divisions_items_path %>
